@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --bodyFontSize: 28px;
}

body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  color: var(--soft-blue);
}
.attribution a {
  color: var(--white);
}
